<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arshadhusain.weshare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateProfileActivity" />
        <activity android:name=".MainItemListActivity" />
        <activity android:name=".AddItemActivity" />
        <activity android:name=".EditItemActivity" />
        <activity android:name=".MyItemsActivity" />
        <activity android:name=".NavigationMainActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ViewProfileActivity" />
        <activity android:name=".MyBiddingActivity" />
        <activity android:name=".MyItemListWithBids" />
        <activity android:name=".ItemInfoActivity" />
        <activity android:name=".SearchResultsActivity" />
        <activity android:name=".BidAcceptActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDv0TMGnPv4LAl2Fx2xEO-xbIkys1cpFo4" />

        <activity
            android:name=".KeywordSearchActivity"
            android:label="@string/title_activity_keyword_search"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
